/*  your css code here. If applicable */
#card{
	width:450px;
	padding:30px;
	background-color:#f0efed;
	box-shadow:1px 1px 4px;
	
}
img{
	width:450px;
}
button{
	padding:15px;
	background-color:#fc7526;
	color:white;
	border-radius:10px;
	margin-left:186px
}
p{
	padding-left:46px;
}
h1{
	padding-left:126px;
}
